@import '@fontsource/geist';
@import '@fontsource/geist-mono';

:root {
  --page-background: #f2f7fc;

  --font-fallback-sans:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --chat-font-sans: 'Geist', var(--font-fallback-sans);

  --font-fallback-mono: ui-monospace, SFMono-Regular, 'Segoe UI Mono', Menlo, Consolas, monospace;
  --chat-font-mono: 'Geist Mono', var(--font-fallback-mono);

  --mantine-font-family-headings: var(--chat-font-sans);
  --mantine-h1-font-weight: 600;
  --mantine-h2-font-weight: 600;
  --mantine-h3-font-weight: 600;
  --mantine-h4-font-weight: 600;
}

[data-mantine-color-scheme='dark'] {
  --page-background: #292d3a;
}

body {
  font-family: var(--chat-font-sans);
  background-color: var(--page-background);
  transition: background-color 0.2s ease;
}

a {
  color: var(--mantine-color-blue-filled);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  opacity: 90%;
}

.font-mono {
  font-family: var(--chat-font-mono);
}

input {
  transition: none;
}

input:focus-within {
  border-color: var(--mantine-color-brand-3);
  box-shadow: 0 3px 10px var(--mantine-color-brand-1);
}

input::placeholder {
  font-size: var(--mantine-font-size-sm);
}
